.menu-con {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding-left: 0;
  margin-bottom: 30px;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  .menu-item {
    cursor: pointer;
    padding: $menu-item-padding-y $menu-item-padding-x;
    transition: $menu-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $menu-item-disabled-color !important;
      pointer-events: none;
      cursor: default !important;
    }

    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }

  .submenu-item {
    position: relative;

    .submenu-title {
      /*使arrow-icon和文字垂直居中*/
      display: flex;
      align-items: center;
    }

    .arrow-icon {
      transition: transform 0.25s ease-in-out;
      margin-left: 3px;
    }

    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }

  .submenu-con {
    // display: none;
    // transition: $menu-transition;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    .menu-item {
      color: $body-color;

      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
        border-bottom: none;
      }
    }

    // &.menu-opened {
    //   display: block;
    // }
  }

  .is-vertical {
    .arrow-icon {
      //垂直排列是点击触发，去掉上面hover触发的样式
      transform: rotate(0deg) !important;
    }

    &.is-opened {
      .arrow-icon {
        //点击展开后三角图标处理
        transform: rotate(180deg) !important;
      }
    }
  }
}

.mode-vertical {
  flex-direction: column;

  margin: 10px 20px;
  border-bottom: 0;
  border-right: $menu-border-width solid $menu-border-color;

  > .menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.mode-horizontal {
  > .menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }

  .submenu-con {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}
