@include zoom-animation("top", scaleY(0), scaleY(1), center top);
@include zoom-animation("bottom", scaleY(0), scaleY(1), center bottom);
@include zoom-animation("left", scale(0.45, 0.45), scale(1, 1), center left);
@include zoom-animation("right", scale(0.45, 0.45), scale(1, 1), center right);

