@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin btn-hover-color-style($hover-background, $hover-border, $hover-color) {
  background-color: $hover-background;
  border-color: $hover-border;
  color: $hover-color;
}

@mixin btn-normal-color-style($background-color, $border-color, $font-color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $font-color;
}

@mixin button-style(
  $background-color,
  $border-color,
  $font-color,
  $hover-background: lighten($background-color, 7.5%),
  $hover-border: lighten($border-color, 10%),
  $hover-color: $font-color
) {
  @include btn-normal-color-style(
    $background-color,
    $border-color,
    $font-color
  );

  &:hover {
    @include btn-hover-color-style(
      $hover-background,
      $hover-border,
      $hover-color
    );
  }

  &:focus,
  &.focus {
    @include btn-hover-color-style(
      $hover-background,
      $hover-border,
      $hover-color
    );
  }

  &.diasbled,
  &:disabled {
    @include btn-normal-color-style(
      $background-color,
      $border-color,
      $font-color
    );
  }
}

@mixin animition-active($opacity, $scaleY, $origin) {
  opacity: $opacity;
  transform: $scaleY;
  transform-origin: $origin;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
}

@mixin zoom-animation(
  $direction: top,
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    @include animition-active(1, $scaleEnd, $origin);
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    @include animition-active(0, $scaleStart, $origin);
  }
}

@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin flex-sty {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-verticle-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin flex-horizon-middle {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
