/*upload list */
.upload-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.upload-list-item {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  position: relative;
  margin-top: 5px;
  box-sizing: border-box;

  min-width: 200px;

  font-size: 14px;
  line-height: 1.8;

  &:first-child {
    margin-top: 10px;
  }

  .file-name {
    svg {
      margin-right: 10px;
      color: $gray-500;
    }
  }

  .file-name-error {
    color: $danger;
    svg {
      color: $danger;
    }
  }

  .file-status {
    display: block;
    position: absolute;
  }

  .file-actions {
    display: none;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: inherit;
    cursor: pointer;
  }

  &:hover {
    .file-status {
      display: none;
    }
    .file-actions {
      display: block;
    }
  }
}

.text-item {
  border-radius: 4px;

  .file-name {
    margin-left: 5px;
    margin-right: 40px;
  }

  .file-status {
    right: 5px;
    top: 0;
    line-height: inherit;
  }

  &:hover {
    background-color: $gray-200;
  }
}

.picture-item {
  overflow: hidden;
  background-color: $white;
  border: 1px solid $gray-500;
  border-radius: 6px;
  padding: 0 20px;
  height: 92px;

  .file-name {
    height: 100%;
    display: flex;
    align-items: center;

    > span {
      line-height: 92px;
    }
  }

  .uploading-con {
    padding: 0;
    margin: 0;
    flex: 1;
  }

  .thumbnail {
    // vertical-align: middle;
    // display: inline-block;
    float: left;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 1;
    margin-right: 10px;
  }

  .danger-status,
  .success-status {
    right: -17px;
    top: -7px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 34px;
    transform: rotate(45deg);
    box-shadow: 0 1px 1px #ccc;

    svg {
      vertical-align: middle;
    }
  }

  .success-status {
    background-color: $success;

    svg {
      transform: rotate(-60deg);
    }
  }

  .danger-status {
    background-color: $danger;

    svg {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    color: $primary;
  }
}

/*upload dragger */
.uploader-dragger {
  width: 360px;
  height: 180px;
  text-align: center;
  padding: 20px;
  line-height: 2.5;

  background: $gray-100;
  border: 1px dashed $gray-300;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px dashed $primary;
  }

  &.is-dragger {
    border: 2px dashed $primary;
    background: rgba($primary, 0.2);
  }
}
